<html>
  <head>
	<meta content='text/html;charset=UTF-8' http-equiv='Content-Type'>
    <title>GnuBee:   &mdash; {{ page.title }}</title>
    <style type='text/css'>
			@import 'css/default.css';
      @import 'css/syntax.css';
    </style>
    <style media='print' type='text/css'>
      @import 'css/print.css';
    </style>
    <meta content='GnuBee documentation' name='subject'>
  </head>
  <body>
    <div id='wrap'>
      <div id='header'>
        <a href='https://github.com/gnubee-git/GnuBee_Docs' title="GnuBee: Personal Cloud"><img width="150" height="65" alt='GB-PC1' src='/GnuBee/GnuBee_color.png'></a>
        <div align='right' class='tagline'>GnuBee: NAS for a personal cloud</div>
      </div>
      <div id='pages'>
        <ol class='toc'>
          <li>Start here
        <ol class="toc">
          <li><a href='index.html'>Welcome</a></li>
          <li><a href='internals.html'>Specifications</a></li>
          <li><a href='background_info.html'>General background info about SW/HW</a></li>
          <li><a href='assembly.html'>Assemble the HW</a></li>
          <li><a href='install.html'>Install SW</a></li>
        </ol>
        <ol class='toc'>
          <li>Campaigns
        <ol class="toc">
          <li><a href='https://www.crowdsupply.com/gnubee/personal-cloud-1'>Funded: Crowd Supply PC 1</a></li>
          <li><a href='https://www.crowdsupply.com/gnubee/personal-cloud-2'>Upcoming Crowd Supply PC 2</a></li>
            </ol>
          </li>
          <li>Use it
            <ol class="toc">
              <li><a href='stories.html'>Success stories</a></li>
              <li><a href='support.html'>Get support</a></li>
            </ol>
          </li>
          <li>Sponsoring
            <ol class="toc">
              <li><a href='sponsoring.html'>Become a sponsor</a></li>
            </ol>
          </li>
          <li>Contribute
            <ol class="toc">
              <li><a href='contributing.html'>contributing code</a></li>
              <li><a href='contributing.html'>images .. documentation</a></li>
            </ol>
          </li>
        </ol>
      </div>
      <div id='content'>
        <h1 id='{{page.title}}'>{{ page.title }}</h1>
        {{ content }}
      </div>
      <div id='footer'>Copyright &copy; 2017 Niklaus Giger</div>
    </div>
  </body>
</html>
